:root {
  --cosmos-dark: #161925;
  --cosmos-deep-blue: #0a0049;
  --cosmos-dark-gray: #323353;
  --cosmos-gray: #4e4d80;
  --cosmos-violet: #9a77fc;
  --cosmos-blue: #7da6ff;
  --cosmos-green: #32c2b6;
  --cosmos-coral: #f7768e;
  --cosmos-yellow: #ffdd00;
  --retro-pink: #ff99cc;
  --retro-powder: #d56eac;
  --retro-magenta-pink: #d95aa1;
  --retro-purple: #b171d0;
  --retro-blue: #8888ff;
  --retro-cyan: #99ccff;
  --retro-acid-cyan: #99ffff;
  --retro-teal: #99ffcc;
  --retro-green: #81d8d0;

  --nord-gray: #D8DEE9;
}

body {
  background-color: var(--retro-pink);
  font-family: 'pixelgeorgia', 'FreeMono Regular';
  font-size: 11px;
  letter-spacing: 0.1em;
  color: var(--cosmos-gray);
}

/*.block-border {
  border: 2px solid var(--cosmos-yellow);
}*/

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  cursor: pointer;
  color: var(--retro-purple);
  border-bottom: 1px dashed var(--retro-purple);
}

.link:hover {
  background-color: var(--retro-cyan);
  transition: 0.5s ease-in-out;
  border-bottom: none;
}

.link:visited {
  color: var(--retro-powder);
  border-bottom-color: var(--retro-pink);
}

.current-version {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.hello-world {
  display: grid;
  text-align: center;
}

.hello-world img {
  display: block;
  margin: auto;
}

.hello-world p {
  font-size: 20px;
  font-weight: 700;
}

.ascii-alien {
  display: flex;
  justify-content: center;
  margin: 0 245px 0 0;
  letter-spacing: normal;
  font-size: 1.3em;
}


/* FOOTER */

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 20px 0;
  color: var(--retro-purple);
  font-size: 11px;
}

/*.footer-top__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 20px 0;
}

.footer-top__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1rem;
}*/

.git-logo {
  display: block;
  width: 80px;
  height: 105px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 40px;
}

.git-link {
  font-size: 16px;
}

.silk-font {
  font-family: 'silkscreennormal';
}

.fz18 {
  font-size: 18px;
}

/*.pgp {
  font-size: 16px;
  cursor: pointer;
  letter-spacing: -2px;
}*/

.footer-bottom {
  display: flex;
  justify-content: space-between;
  color: var(--retro-powder);
  padding: 5px 0;
  font-size: 9px;
  border-top: 1px solid var(--retro-powder);
  align-items: center;
}

.footer-bottom a {
  color: var(--retro-powder);
  font-size: 9px;
}

/* POPUP */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 51, 83, 0.1);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.4s ease 0s;
}

.popup__cc {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 51, 83, 0.1);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.4s;
}

.popup__cc:target {
  opacity: 1;
  visibility: visible;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: var(--nord-gray);
  max-width: 500px;
  padding: 30px;
  position: relative;
  border-radius: 1%;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--cosmos-gray);
  font-size: medium;
}

.popup__text {
  letter-spacing: 2.5px;
  line-height: 1.4em;
}

/* NEW FOOTER */

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 150px;
}

.footer__column_content_space {
  display: flex;
  color: white;
  flex-direction: row;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 30px;
  padding: 0;
  color: var(--retro-powder);
}

.footer-copy {
  display: flex;
  justify-content: space-between;
  color: var(--retro-powder);
  padding: 0 0 0 120px;
  font-size: 9px;
  align-items: center;
}

/* GRIDS */
.footer-grid {
  display: grid;
  grid-template-rows: 120px 1fr;
  grid-template-areas:
    'photo info    price'
    'photo desc    desc'
    'photo actions date';
  grid-template-columns: 20rem 1fr max-content;
}

.grid-logo {
  grid-area: logo;
  width: 80px;
  height: 105px;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-grid__contacts {
  /* grid-area: contacts; */
display: flex;flex-direction: column;justify-content: space-between;align-items: flex-start;}

.footer-grid__info {
  /* grid-area: info; */
display: grid;justify-items: start;align-items: center;justify-content: start;}

.footer-grid__switch {
  /* grid-area: switch; */
}

.footer-grid__copy {
  /* grid-area: copy; */
display: flex;flex-direction: row;justify-content: space-between;align-items: center;}


.grid {
    background: #ff99cc;
    display: grid;
    /* grid-row-gap: 10px; */
    grid-column-gap: 4%;

  grid-template-areas: "post-1 post-2 post-3 post-4"
"post-1 post-5 post-6 post-7"; 
  grid-template-rows: auto;
  grid-template-columns: auto 1fr 1fr auto;
}
.col1 {
    /*background-color: #0a0049;*/
    display: grid;
    grid-area: post-1;
}

.col2 {
  /*background-color: #32c2b6;*/
  display: grid;
  grid-area: post-2;
}

.col3 {
  /*background-color: #8888ff;*/
  display: grid;
  grid-area: post-3;
}

.col4 {
  /*background-color: #ffdd00;*/
  display: grid;
  grid-area: post-4;
}

.col5 {
  /*background-color: #b171d0;*/
  display: grid;
  grid-area: post-5;
}

.col6 {
  /*background-color: #b171d0;*/
  display: grid;
  grid-area: post-6;
}

.col7 {
  /*background-color: #b171d0;*/
  display: grid;
  grid-area: post-7;
}

