@import url(../vendors/normalize.css);
@import url(../vendors/fonts/pixelgeorgia.css);
@import url(../vendors/fonts/slkscr.css);
@import url(../vendors/fonts/FreeMono.css);

@import url(../blocks/root/root.css);

@import url(../blocks/footer/footer-top/footer-top.css);
@import url(../blocks/footer/footer-bottom/footer-bottom.css);

@import url(../blocks/popup/popup.css);

.current-version {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.hello-world {
  display: grid;
  text-align: center;
}

.hello-world img {
  display: block;
  margin: auto;
}

.hello-world p {
  font-size: 20px;
  font-weight: 700;
}

.ascii-alien {
  display: flex;
  justify-content: center;
  margin: 0 245px 0 0;
  letter-spacing: normal;
  font-size: 1.3em;
}
