@font-face {
  font-family: 'pixelgeorgia';
  src: url('pixelgeorgia.eot');
  src: url('pixelgeorgia.eot?#iefix') format('embedded-opentype'),
       url('pixelgeorgia.woff') format('woff'),
       url('pixelgeorgia.ttf') format('truetype'),
       url('pixelgeorgia.svg#silkscreennormal') format('svg');
  font-weight: normal;
  font-style: normal;

}

